 
#header {
width: 100%;
background-color: #b7b7b7;
opacity:0.8;
height: 25px;
margin-top: 50px;
position: absolute;
}

#nav { width: 410px; float: right; }
#logo a { color: #fff; text-decoration: none; float: left; font-size: 25px; color: #fff; font-family:"Wellfleet"; font-weight: bold; }
#nav ul{
list-style: none;
display: inline;
list-style: none;

}
#nav li{
float: left;
padding-left: 51px;
margin-top: 7px;

}
#nav li a { color: #fff; font-size: 16px; text-decoration: none; font-family: 'Wellfleet'; font-weight: bold; }
#nav li a.active { color: #fff; opacity:0.6; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:0.6;}


#slide1, #slide2{ width: 100%; }

#slide1{
background-color: #46E8B9;
height: 600px;
margin: 0;
background-size: cover;
}

#slide2{
background-color: #b7b7b7;
color: #333333;
height: 600px;
margin: 0 auto;
overflow: hidden;
padding: 20px 0;
}

.PhotoCV figure {
border: 3px solid #46BFE8;
border-radius: 78px;
float: right;
height: 150px;
width: 150px;
	}
	
.PhotoCV img {
border-radius: 75px;
height: 150px;
position: relative;
width: 150px;
}

#slide3{
background-color: #46E8B9;
height: 600px;
padding: 170px 0 0 0;
background-size: cover;
}

#conteneur{
display: flex;
align-content: space-around;
flex-wrap: wrap;
}
.image{
margin: auto;
border: 2px solid #46BFE8;
}

#slide4{
background-color: #b7b7b7;
height: 300px;
padding: 200px 0;
}
#slide5{
background-color: #46E8B9;
height: 200px;
margin: 0 auto;
padding: 250px 0;
background-size: cover;
}
