 section {
	min-height: 100vh;
	border-bottom: 1px solid #dee2e6;
}
a {
  color: black;
}
 ul{
	list-style-type: none;
}
.half{
	width: 50%;
}
/*-------Nav-----*/

.nav-link{
	color: rgba(255,255,255,.5);
	padding:0;
}

.nav-link:hover {
  color: rgba(255,255,255,.75);
  text-decoration: none;
}
.nav-item{
	padding:0.5rem;
}
.active {
  color: #fff;
  text-decoration: none;
}
#contact {
	position: absolute;
	bottom: 1rem;
  width: 50%;
}
/*----skills-------*/
#skillbars > li{
	padding-bottom: 0.5rem;
}
.progress-bar-animated.in-view{
	-webkit-animation: animate 3s;
    animation: animate 3s;
}
@-webkit-keyframes animate{
    0% { width: 0; }
}
@keyframes animate{
    0% { width: 0; }
}

/*-----Timeline---*/
#fil
{
	width:5px;
	min-height: 95%;
	z-index: -1;
	top:0;
}

#progress
{
	width:20px;
	height: 45px;
	position: sticky;
	bottom:0;
	background-color: white;
	z-index: 2000;
}
.slide-in-left.in-view {
  animation-duration: 2s;
  animation-name: slideinleft;
}

@keyframes slideinleft {
  from {
    margin-right: 100px;
  }

  to {
    margin-right: 0;
  }
}
.slide-in-right.in-view {
  animation-duration: 2s;
  animation-name: slideinright;
}

@keyframes slideinright {
  from {
    margin-left: 100px;
  }

  to {
    margin-left: 0;
  }
}
