 
#header {
width: 100%;
background-color: #b7b7b7;
height: 25px;
margin-top: 50px;
position: absolute;
}

#nav { width: 410px; float: right; }
#logo a { color: #fff; text-decoration: none; float: left; font-size: 25px; font-weight: bold; }
#nav ul{
list-style: none;
display: inline;

}
#nav li{
float: left;
padding-left: 51px;
margin-top: 7px;

}
#nav li a { color: #fff; font-size: 16px; text-decoration: none; font-weight: bold; }
#nav li a.active { color: #fff; opacity:0.6; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:0.6;}

p, li, h2, h3, h4, h5{
color: #fff;
}

#slide1, #slide2{ width: 100%; }

#slide1{
background-color: #46E8B9;
height: 600px;
margin: 0;
background-size: cover;
}

.PhotoCV figure {
border: 3px solid #46BFE8;
border-radius: 78px;
float: right;
height: 150px;
width: 150px;
margin-top: 150px;
margin-right: 100px;
}
	
.PhotoCV img {
border-radius: 75px;
height: 150px;
position: relative;
width: 150px;
}

#slide1 h2 {
color: #4D80FF;
width: 50%;
margin-top: 180px;
margin-left: 20px;
position: absolute;
}

#slide1 h3{
color: #4D80FF;
width: 50%;
margin-top: 220px;
margin-left: 20px;
position: absolute;
}
.rond {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #b7b7b7;
    background: #46BFE8;
}

#slide2{
background-color: #4DA3FF;
color: #333333;
height: 600px;
margin: 0 auto;
overflow: hidden;
padding: 20px 0;
}

#slide2 li{
	margin-left: 10px;
}
#exp {
display: inline-block;
float: left;
	margin-left: 1%;
	margin-right: 1%;
}
#etudes {
	display: inline-block;
	float: right;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}
#comp {
	display: block;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
}

#slide3{
background-color: #46E8B9;
height: 450px;
padding: 20px 0 0 0;
background-size: cover;
}

#slide3 h2{
color: #fff;
font-size: 25px; font-weight: bold;
width: 50%
display: inline;
text-align: center;
margin-top: 0px;
}

#conteneur{
display: flex;
align-content: space-around;
flex-wrap: wrap;
}

.image{
margin: auto;
margin-top: 20px;
border: 2px solid #46BFE8;
}

#slide4{
background-color: #4DA3FF;
height: 300px;
padding: 20px 0;
}

#slide4 h2{
color: #fff;
font-size: 25px; font-weight: bold;
width: 50%
display: inline;
text-align: center;
margin-top: 0px;
}
#toggler {
	background-color:transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #46e8ba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	font-weight:bold;
	padding:14px 31px;
	text-decoration: none;
	position: absolute;
        left: 50%;
        transform: translateX(-50%);
}
#toggler:hover {
	background-color:transparent;
}
#toggler:active {
	position:relative;
	top:1px;
}



#slide5{
background-color: #46E8B9;
height: 200px;
margin: 0 auto;
padding: 20px 0;
}
#slide5 p{
font-size: 13px;
}
